<div class="card">
    <h5 class="card-header">404</h5>
    <div class="card-body">
        <h5 class="card-title">Not found</h5>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>